/* =====================HTML========================= */
html {
    background-color: rgb(28, 28, 28);
    color: aliceblue;
    background-image: url("spacelast.gif");
    cursor: url(cursor.png) 5 5, auto;
    scroll-behavior: smooth;
}

/* ==========FONT========= */
@font-face {
    font-family: 'playerfont';
    src: url(playerfont.otf) format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HANAMDAUM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/HANAMDAUM.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

p {
    text-align: center !important; 
}

/* ==========HR========= */
hr {
    height: 2px;
    background: linear-gradient(to right, red, orange, yellow, green, blue, navy, purple, red, yellow);
    border: none;
    background-size: 200% 100%;
    animation: gradientAnimation 2s cubic-bezier(0.25, 0.1, 0.25, 1) infinite alternate;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 100% 0%;
    }
}

/* ==========A========= */
a,
a:visited {
    color: aliceblue;
    text-decoration: none;
}

/* ==========IMG========= */
img {
    max-width: 100%;
}

/* ==========BODY========= */
body {
    font-family: 'playerfont', 'HANAMDAUM', sans-serif;
    background-color: rgb(0, 0, 0);
    background-size: 120%;
    max-width: 1000px;
    box-shadow: 0px 0px 5ch 2px rgb(135, 161, 255);
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    border-radius: 10%;
}

/* =====================HEADER========================= */
.space {
    max-width: 1000px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    display: flex;
    margin-right: 80px;
    margin-top: 50px;
}

.logo_image {
    width: 200px;
    height: auto;
}

.logo_title {
    text-align: center;
    font-size: 48px;
    color: aliceblue;
    text-shadow: 2px 2px 2px #76ffed, 3px 3px 2px #8e8e8e;
    letter-spacing: 3px;
}

/* =====================NVBAR========================= */
.menubtn {
    display: inline-block;
    width: 120px;
    height: 150px;
    cursor: pointer;
    position: fixed;
    right: 7%;
    top: 15%;
    transform: translateY(-50%);
    z-index: 100;
    transition: 0.2s;
}

.menubtn:hover {
    scale: 105%;
    rotate: 5deg;
}

#menuicon {
    display: none;
}

.sidebar {
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100%;
    background: rgb(208, 234, 255);
    z-index: 30;
    transition: .35s;
    box-shadow: 2px 2px 1ch 2px rgb(135, 161, 255);
    border-radius: 5%;
}

#menuicon:checked~.container .sidebar {
    right: -10px;
}

.sidebar .grid {
    margin-top: 30px;
    scale: 50%;
    font-size: 200%;
}

.sidebar .item {
    background-color: black;
    border-radius: 25%;

}

/* =====================HOME========================= */
.home {
    margin-top: 80px;
}

.home .grid {
    display: grid;
    gap: 26px;
    /* 창의 너비가 작아졌을 때 이미지가 너무 작아지지 않도록 최소 값 지정 */
    grid-template-columns: repeat(3, minmax(240px, 1fr));
    /* 창의 너비가 작아지면 2,3번째 요소가 잘려 보이므로 3열로 한정하지 않고 
    화면의 너비에 맞게 요소의 수를 조정 */
    margin-top: 6%;
    margin-bottom: 50px;
    max-width: 1100px;
    margin: auto;
    padding: 0 4%;
}

.item p {
    font-weight: bold;
    text-align: center;
}

.item {
    margin: auto;
    transition: 0.2s;
}

.item:hover {
    scale: 110%;
}

@keyframes trans1 {
    to {
        transform: rotateZ(30deg);
    }
}

@keyframes trans2 {
    0% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

.home p {
    font-size: 150%;
    margin-top: 0px;
    font-weight: bold;
    text-shadow: 2px 2px 2px #76ffed, 3px 3px 2px #8e8e8e;
    letter-spacing: 3px;
}

.spacer img {
    animation-name: trans1;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    scale: 100%;
}

.coding img {
    scale: 50%;
    margin-bottom: -15%;
}

.casset img {
    animation-name: trans2;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    scale: 70%;
}

.home .casset img {
    margin-left: 20px;
}

/* =====================INTRO========================= */
.pr {
    margin: 50px;
    margin-top: 100px;
    opacity: 0;
    transition-duration: 1s;
}

.pr:hover {
    transform: translate(10px, 0px);
    opacity: 1;
}

.pr_grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(240px, 1fr));
    gap: 26px;
}

/* =====================SKILL========================= */
.skill {
    margin: 50px;
}

.prince {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 150px;
}

.princebtn {
    width: 120px;
    height: 150px;
    cursor: pointer;
    transform: translateY(-50%);
    z-index: 100;
    transition: 0.2s;
    position: fixed;
    position: absolute;
}

.princebar {
    position: fixed;
    position: absolute;
    opacity: 0;
    width: 700px;
    height: 700px;
    background: rgb(255, 252, 173);
    z-index: 1;
    transition: 1s;
    box-shadow: 5px 5px 5ch 5px rgb(236, 255, 188);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.princebtn:hover~.princebar {
    opacity: 1;
}

.prince_grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(120px, 1fr));
    gap: 20px;
    width: 500px;
}

/* =====================PROJECT========================= */
.project {
    text-align: center;
}

.project p {
    text-align: center;
    font-size: 18px;
    color: aliceblue;
    text-shadow: 1px 1px 1px #b5b5b5, 2px 2px 5px #676767;
    letter-spacing: 0px;
}

/* =====================ARTICLE========================= */
@keyframes trans3 {
    to {
        transform: rotateZ(360deg);
    }
}

/* ==========버즈========= */
#buzzicon {
    display: none;
}

.buzz {
    position: absolute;
    width: 250px;
    height: auto;
    left: 10%;
    top: 25%;
    transform: translate(-50%, -50%);
    transition: 1s;
}

#buzzicon:checked~.buzz {
    transform: rotateZ(180deg);
}

/* ==========그루트========= */
.groot {
    position: absolute;
    width: 200px;
    height: auto;
    right: 8%;
    top: 30%;
    rotate: 15deg;
    transition: 1s;
}

#grooticon {
    display: none;
}

#grooticon:checked+.groot {
    transform: rotateY(180deg);
    opacity: 0%;
}

.kinggroot {
    position: absolute;
    width: 200px;
    height: auto;
    right: 8%;
    top: 30%;
    rotate: 15deg;
    transition: 1s;
    opacity: 0%;
}

#grooticon:checked~.kinggroot {
    transform: rotateY(180deg);
    opacity: 100%;
}

/* ==========반스========= */
.vans img {
    position: absolute;
    top: 80%;
    left: 8%;
    animation-name: trans3;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    max-width: 160px;
}

/* ==========외계인========= */
.monster {
    position: absolute;
    width: 150px;
    height: auto;
    left: 6%;
    top: 200%;
    transition: 1s;
}

#monstericon {
    display: none;
}

#monstericon:checked+.monster {
    transform: rotateY(180deg);
    opacity: 0%;
}

.monster2 {
    position: absolute;
    width: 150px;
    height: auto;
    left: 6%;
    top: 200%;
    transition: 1s;
    opacity: 0%;
}

#monstericon:checked~.monster2 {
    transform: rotateY(180deg);
    opacity: 100%;
}

/* ==========재즈========= */
.jazz img {
    position: absolute;
    top: 280%;
    right: 8%;
    animation-name: trans3;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    max-width: 200px;
}

/* ==========캡틴========= */
#americaicon {
    display: none;
}

.america {
    position: relative;
}

.america img {
    position: absolute;
    bottom: 0px;
    left: -20%;
    animation-name: trans2;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    max-width: 400px;
}

#americaicon:checked+.america {
    transform: scale(2) translateX(530px) translateY(200px);
    transition: transform 1s;
}

/* ==========화살표========= */
.arrow img {
    position: fixed;
    top: 90%;
    left: 49%;
    animation-name: trans2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    max-width: 50px;
}

/* =====================FOOTER========================= */
footer {
    text-align: center;
}

footer hr {
    max-width: 800px;
}